{% extends "layout.html" %}

{% block title %}
    Guest Login
{% endblock %}

{% block main %}
    <form action="/login/" method="post">
        {% csrf_token %} 
        <div class="mb-3">
        <label>ゲストログイン</label><br>
        </div>
        <button class="btn btn-dark" type="submit">ログイン</button>
    </form><br>
    <div class="form-group">
    
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show md-3" role="alert">
            {{ message }}
        </div>  
    {% endfor %}
    </div>
{% endblock %}