{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %} 
    {% if user.is_authenticated %}
        <h2>こんにちは、{{ user.username }}</h2><br>
        <!-- Description below -->
        <div class="mb-3">
            <p><strong>光熱費自動計算アプリ紹介</strong></p>
            <p>11人住みの寮の光熱費を計算と記録するためのアプリ。</p>
            <p>メーターは部屋ごとではないため、光熱費は皆平均で分けて支払い</p>
            <p>入寮退寮が頻繁のため、毎日の部屋利用者を記録して光熱費を計算する</p>
            <p>電気代、水道代、ガス代三種類ある</p>
            <p>アルゴリズム：　一人金額 ＝ （合計金額 ÷ 期間内日数 ｘ 11部屋）ｘ 一人期間内部屋利用日数</p>
            <p>電気代の場合： 期間内の空室は一部屋につき会社払い3000円、冬季に凍結防止帯の電気代が高いため</p>
            <p>電気代アルゴリズム：　一人金額 ＝ 合計金額 - （空室 ｘ 3000円）÷ 期間内日数 ｘ 11部屋 ｘ 一人期間内部屋利用日数</p>
        </div>
        <br><br>
        <div class="mb-3">
            {% if user.username == "ゲスト" %}
                <p><strong>お知らせ：ゲストの方では、データ入力ができないため、データの照会のみできます</strong></p>
            {% endif %}
            <!-- <p>使い方のわからない方は<a href="/manual/">マニュアル</a>を参考できます</p> -->
            <p>そのまま進む方は<a href="/index">BOT Menu</a></p>
            <p>ログアウトする方は<a href="/logout">ログアウト</a></p>
        </div>
    {% else %}
        <div>
            <h2>こんにちは、Calculator BOT へようこそ</h2><br>
            <div>
                <p>管理員の方は<a href="/login/">管理員ログイン</a>でログインできます</p>
                <p>アカウントを持っていない、光熱費の管理員になる方は<a href="/register/">管理員アカウントを登録</a>で登録できます</p>
                <p>内容だけ確認したい、ゲストの方は<a href="/guest/">ゲストログイン</a>でログインできます</p>
            </div>
        </div>
    {% endif %}
{% endblock %} 