{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %} 
    <!-- query data below -->
    <div style="background-color: white;">
        <div style="text-align:left;">
            <p><strong>{{ type }}: {{ month_start }} - {{ month_end }}<br>合計：{{ total_amount }}</strong></p>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    {% if "room_query" in request.POST %}
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">日付</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                        <th scope="col">C</th>
                        <th scope="col">D</th>
                        <th scope="col">E</th>
                        <th scope="col">F</th>
                        <th scope="col">G</th>
                        <th scope="col">H</th>
                        <th scope="col">I</th>
                        <th scope="col">J</th>
                        <th scope="col">K</th>
                    </tr>
                    {% else %}
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">名前</th>
                        <th scope="col">部屋</th>
                        <th scope="col">金額</th>
                        <th scope="col">期間から</th>
                        <th scope="col">期間まで</th>
                    </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for i in query %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for value in i.values %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}