{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %} 
        <div id="home">
            <div class="flex100">
                <h3>光熱費計算アプリ Calculator Bot</h3>
                <p><strong>11人寮の光熱費を平均で計算してくれるアプリ</strong></p>
            </div>
            <div>
                <h3>データ入力機能</h3>
                <p>新しい光熱費や住民データを入力</p>
                <img src="/static/room_input.jpg" width="300" height="200" alt="picture of new input">
            </div>
            <div>
                <h3>データ照会機能</h3>
                <p>入力されたデータを基づいて、平均光熱費を照会できる</p>
                <img src="/static/electric_history.jpg" width="300" height="200" alt="picture of search result">
            </div>
            <div>
                <h3>データ削除機能</h3>
                <p>間違ったデータを削除できる</p>
                <img src="/static/history_delete.jpg" width="250" height="200" alt="picture of deleting data">
            </div>
            <div class="flex100">
                <h3>こちらからログイン</h3>
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <button class="btn btn-dark" type="submit">ゲスト</button>
                </form><br>
                <a href="/login"><button class="btn btn-dark">管理者</button></a>
            </div>
        </div>
{% endblock %} 