{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form action="/login/" method="post" class="form-horizontal">
        {% csrf_token %}
        <div>
            <h2>ログイン</h2>
        </div>
        <div class="mb-3">
            <label for="username">ユーザーネーム</label>
            <input type="text" class="form-control mx-auto w-auto" name="username" id="username" placeholder="ユーザーネーム" autofocus>
        </div>
        <div class="mb-3">
            <label for="password">パスワード</label>
            <input type="password" class="form-control mx-auto w-auto" name="password" id="password" placeholder="パスワード">
        </div>
        <button type="submit" class="btn btn-dark">ログイン</button>
        <br />
        <div class="form-group mb-3">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}